<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <h1>
        <a href="{% url 'homepage' %}">Welcome to Sabina's Food Corner</a>
    </h1>

    {% if request.user.is_authenticated == True %}
        <a href="{% url 'logout' %}">logout</a>
        <a href="{% url 'profile' request.user.username %}">profile</a>
    {% else %}
        <a href="{% url 'login' %}">login</a> or
        <a href="{% url 'sign_up' %}">sign up</a>
    {% endif %}

    <a href="{% url 'bloginsert' %}">blog here</a>
    <a href="{% url 'recipe_add' %}">add recipe</a>
</body>
</html>